._.git
._.gitignore
._.idea
._.vscode
._assets
._idea
._images
._index.html
._manifest.md
._node_modules
._package.json
._package-lock.json
._readme.md
._robots.txt
._script.js
._sitemap.xml
._src
._style.css
._tailwind.config.js
.vscode/._settings.json
.vscode/settings.json._package-lock.json
assets/._css
assets/._icons
assets/._favicon.png
assets/._js
assets/css/._print.css
assets/css/._styles.css
assets/icons/._analysisTools.webp
assets/icons/._cadenas.svg
assets/icons/._mortarboard.svg
assets/icons/._pgrm.svg
assets/icons/._project.svg
assets/icons/._github-mark-white.svg
assets/icons/._github-mark.svg
assets/icons/._more.svg
assets/icons/._pdf.svg
assets/images/._background.jpg
assets/icons/ozr
ozr/
static/._mickael_gaillard_cv.pdf
node_modules/
package-lock.json
package.json
assets/icons/.DS_Store
assets/.DS_Store
static/.DS_Store
.DS_Store
