._.git
._.gitignore
._.idea
._.vscode
._assets
._idea
._images
._index.html
._manifest.md
._readme.md
._script.js
._src
._style.css
._tailwind.config.js
.vscode/._settings.json
.vscode/settings.json
assets/._css
assets/._icons
assets/._favicon.png
assets/._js
assets/css/._styles.css
assets/icons/._analysisTools.png
assets/icons/._cadenas.svg
assets/icons/._mortarboard.svg
assets/icons/._pgrm.svg
assets/icons/._project.svg
assets/icons/._github-mark-white.svg
assets/icons/._github-mark.svg
assets/icons/._more.svg
assets/icons/._pdf.svg
assets/images/._background.jpg
static/._mickael_gaillard_cv.pdf
index.html
